<link rel="stylesheet" href="https://unpkg.com/chota@latest">
<style> body { margin: 2em; } </style>
<h1>MarsRover / Move</h1>

<form method="post" action="/roverMove">
    <input type="text" name="commands" placeholder="insert move command like f,f,r">
    <input type="submit" value="send command/s" style="margin-top: .4em;">
</form>


<% if(obstaclePosition) { %>
ostacolo trovato
<% } else {%>
    ostacolo non trovato
<% } %>

<hr style="margin-top: 2em;">
<h3>Mars Map Planimetry</h3>
<h4>posizione: y:<%=position.y%>, x:<%=position.x%></h4>

<div class="mapContainer">
    <% let l = 0; %>
    <% mapGrid.forEach((quadrant, index) => { %>
        <% if(l===0){ %> 
            <div class="mapColumn">
        <% } %>

                <% 
                    // Obstacle check. If so add css class.
                    let isThereObstacle = false;
                    let collision = (obstacle) => obstacle.y === quadrant.y && obstacle.x === quadrant.x;
                    if( mapGridObstacles.some(collision) ) isThereObstacle = true; else isThereObstacle = false;
                
                   // Rover position check. If so add css class.
                   let isThereRover = false;
                   if(quadrant.y === position.y && quadrant.x === position.x) isThereRover = true; else isThereRover = false;
                    
                %>
                
                <div class="mapPoint <% if(isThereObstacle){ %>obstacle<% } %> <% if(isThereRover){ %>rover <%=direction%><% } %>"
                    <% if(l===0){ %> style="border-bottom: 1px solid #ccc;" <%}%>
                    
                >
                    <!-- L value is: <%= l %>  -->
                    <span>y:<b><%= quadrant.y%></b>, x:<b><%= quadrant.x%></b></span>
                </div>

        <% if(l===mapLength){ %> 
        </div> <% } %>

        <% l++; %>
        <% if(l===mapLength+1){ l=0; } %>
    <% }) %>
</div>

<style>
    .mapContainer {
        display: flex;
        flex-flow: row;
    }
    .mapColumn {
        display: flex;
        flex-flow: column-reverse;
    }

    .mapPoint {
        position: relative;
        width: 60px;
        height: 60px;
        padding: 1em .4em;
        border: 1px solid #ccc;
        border-bottom: none;
        color: #888;
        font-size: .7em;
    }

    .mapPoint span {
        display: inline-block;
        position: absolute;
        bottom: 1px; left: 5px;
    }

    .mapPoint b {
        color: #888;
        font-weight: 400;
    }

    .mapPoint:hover, .mapPoint:hover b  {
        color: #333;
        font-weight: bold;
    }

    .mapPoint:nth-child(even) {
        background-color: #f2f2f2;
    }

    .mapPoint.obstacle {
        background-color: rgba(254, 197, 41, 0.4);
    }

    .mapPoint.rover {
        background-color: rgba(19, 143, 220, 0.4);
    }

    .mapPoint.N { border-top: 7px solid rgba(19, 143, 220, 0.6); }
    .mapPoint.E { border-right: 7px solid rgba(19, 143, 220, 0.6); }
    .mapPoint.S { border-bottom: 7px solid rgba(19, 143, 220, 0.6); }
    .mapPoint.W { border-left: 7px solid rgba(19, 143, 220, 0.6); }
</style>
